
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
  padding: 2.5rem 3rem;
  @include responsive-nav() {
    padding: 1.8rem 3rem
  }
  .container {
    max-width: 1225px;
    margin: 0 auto;
    nav {
      @include flexbox-between();
      .nav-list {
        display: flex;
        gap: 40px;
        li {
          a {
            color: $dark-title;
            font: 600 1.75rem $font-main;
            transition: all .3s ease-in-out;
            &:hover {
              color: $orange-main;
            }
          }
        }
      }
    }
  }
}

.container-nav {
  @include align-center();
  gap: 100px;
}

.brand {
  width: 150px;
  margin-top: 1rem;
  @include responsive-desktop() {
    width: 210px;
  }
}

.nav-mobile {
  display: none;
  margin-top: 10px;
  div {
    width: 28px;
    height: 2px;
    background-color: $dark-main;
    transition: .4s;
    margin: 6px 0;
  }
  &.active .line1 {
    transform: rotate(45deg) translate(8px, 8px);
  }
  &.active .line2 {
    opacity: 0;
  }
  &.active .line3 {
    transform: rotate(-46deg) translate(3px, -4px);
  }
}

.nav-list.visible {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

@include responsive-nav() {
  .nav-list {
    text-align: center;
    position: absolute;
    top: 78px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: $light-main;
    flex-direction: column;
    padding-top: 4rem;
    visibility: hidden;
  }
  .nav-mobile {
    display: block;
  }
}

.nav-list {
  @include responsive-desktop() {
    padding-top: .8rem;
  }
}

.button-login-nav {
  background-color: $orange-main;
  padding: 1.3rem 4rem 1.4rem 4rem;
  border-radius: 13px;
  a {
    font-size: 1.8rem;
  }
  &:hover {
    background-color: $purple-main;
  }
}

.solid-nav {
  background-color: $light-main;
  z-index: 999;
}